/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #00CCFF;
  width: 100%;
  height: 80px;

}
footer {
  background-color: #00CCFF;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  margin-top:auto;
}

input[type="text"] {
        width: 60%;
        height: 50px;
        margin-top: 40px;
        border-radius:10px;
        padding: 2px 8px;
    }

#logo {
  padding: 4px;
  width: 10px;
  height: auto;
  float:left;
}

#newicon {
  width: 10px;
  height:auto;
  float:left;
  margin-left: 60px;
  padding: 12px;
}

button {
    width: auto;
    padding:0;
    margin: 0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}
